{% extends 'base.html' %}

{%block content %}
<main>
    <!--These do not work at the moment-->
    <h2>Movie List</h2>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 movie">
                <a href="{{ url_for('watch_movie', movie_id=movie.id) }}">
                    <div class="movie-title">{{ movie.title }}</div>
                    <img src="{{ url_for('static', filename=movie.image_url) }}" alt="{{ movie.title }}" class="movie-image">
                    <div class="movie-description">
                        <p>{{ movie.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
</main>
{% endblock %}